.container {
  display: flex;
}

.filename {
  text-align: center;
}

.editor {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  width: 50%;
}

.preview {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}
