#container {
  display: grid;
  grid-template-areas:
    "filename filename"
    "editor preview";
  grid-template-columns: 50% 50%;
}

#container > #filename {
  grid-area: filename;
  text-align: center;
}

#container > #editor {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  grid-area: editor;
  margin: 4px;
  padding: 4px;
}

#container > #preview {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  grid-area: preview;
  margin: 4px;
  padding: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

@media (max-width: 640px) {
  #container {
    grid-template-areas:
      "filename"
      "editor"
      "preview";
    grid-template-columns: 100%;
  }
}
