:root {
  background-color: #f6f6f6;
  color: #2f2f2f;
}

#app {
  display: grid;
  grid-template-areas:
    "filename filename"
    "editor preview";
  grid-template-columns: 50% 50%;
  white-space: break-spaces;
  word-break: break-all;
}

#app > #filename {
  grid-area: filename;
  text-align: center;
}

#app > #editor {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  grid-area: editor;
  margin: 4px;
  padding: 4px;
}

#app > #preview {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  grid-area: preview;
  margin: 4px;
  padding: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

@media (max-width: 640px) {
  #app {
    grid-template-areas:
      "filename"
      "editor"
      "preview";
    grid-template-columns: 100%;
  }
}
